<!--Contact Us page Content-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <!--This is my css section-->
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
  <link rel='stylesheet' href='/Content/app.css' />

</head>
<body>
    <!-- <header class="header">
        <div class="container">
                <p class="text-muted">
                File Name: contactUs.ejs<br/>
                Student Name: Piyush Goel<br/>
                Student Id: 301205906<br/>
                Date: Oct 7 2022<br/>
                </p>
        </div>
      </header> -->


<!--Nav Bar-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="logo pull-left" href="#"><img src="https://cdn.vectorstock.com/i/preview-1x/26/18/fire-squirrel-logo-icon-negative-space-vector-28782618.webp" width="40" height=40"></a>
    <a class="navbar-brand" href="/">Menu</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link"  href="/home"><i class="fa-solid fa-lg fa-house-laptop"></i> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/about"><i class="fa-sharp fa-solid fa-asterisk"></i> About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  href="/project"><i class="fa-brands fa-product-hunt"></i> Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/services"><i class="fa-regular fa-gear"></i> Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="fa-regular fa-phone"></i> Contact us</a>
        </li>
        </ul>
      </div>
</nav>

<main class="container">
  <div class="jumbotron">
    <h1 class="display-4"> <%= title %></h1>


</div>

<div class="container">
    <br/>
    <br/>
    <br/>
    <br/>

    <h4 class="display-6"><i class="fa-solid fa-phone"></i>Mobile No: +1 9057824697</h4>
    <h4 class="display-6"><i class="fa-solid fa-envelope"></i>Email: Piyushgoel6294@gmail.com</h4>
</div>

</main>

<!--- Bottom nave-->
<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h8 class="display-9 text-white">&copy; CopyRights 2022. All Rights Reserved.</h8>
  </nav>


</footer>  

<!--This is my script section-->

<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>

